
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">

    <title>Game</title>
  </head>

  <body>


<!-- Table Form -->
<div class="container-fluid padding">
<div class="row text-center">
 <div class="col-md-12">
    <h1 class="display-4 inline">Game ID = {{game_id}} --
      <form action="/" method="GET">
        <button type="submit" class="btn btn-secondary" id="returntosplash_btn">CHANGE ID</button>
      </form>
   </h1>
   <hr class="dark" id="hrseperate">
   <div id="paddingfix">
   <div id="gameForm">
     <table id="gameTable">
       <tr>
          <td><h4>Games:</h4></td>

          <!--SELECT BUTTON -->
           <form action="/game/{{ game_id }}/select/Game" method="GET">
            <td><button type="submit" class="btn btn-secondary" id="game_Select_btn">SELECT</button></td>
           </form>

           <!-- INSERT BUTTON -->
           <td><button type="submit" class="btn btn-secondary" id="game_Insert_btn" disabled="true">INSERT</button></td>

          </tr>

         <td><h4>Players:</h4></td>

         <!--SELECT BUTTON -->
          <form action="/game/{{ game_id }}/select/Player" method="GET">
           <td><button type="submit" class="btn btn-secondary" id="player_Select_btn">SELECT</button></td>
          </form>

          <!-- INSERT BUTTON -->
          <td><button type="button" style="color:white;" class="btn btn-secondary" data-toggle="modal" data-target="#insert_player_modal">INSERT</button></td>


       </tr>
       <tr>
         <td><h4>Characters:</h4></td>

          <!--SELECT BUTTON -->
         <form action="/game/{{ game_id }}/select/Character" method="GET">
          <td><button type="submit" class="btn btn-secondary" id="character_Select_btn">SELECT</button></td>
         </form>

  <td><button type="button" style="color:white;" class="btn btn-secondary" data-toggle="modal" data-target="#insert_character_modal">INSERT</button></td>
       </tr>
       <tr>
         <td><h4>Tiles:</h4></td>

          <!--SELECT BUTTON -->
         <form action="/game/{{ game_id }}/select/Tile" method="GET">
          <td><button type="submit" class="btn btn-secondary" id="tile_Select_btn">SELECT</button></td>
         </form>

           <!-- INSERT BUTTON -->
         <td><button type="submit" class="btn btn-secondary" id="tile_Insert_btn" disabled="true">INSERT</button></td>

       </tr>
       <tr>
         <td><h4>Items:</h4></td>

         <!--SELECT BUTTON -->
         <form action="/game/{{ game_id }}/select/Item" method="GET">
          <td><button type="submit" class="btn btn-secondary" id="item_Select_btn">SELECT</button></td>
         </form>

           <!-- INSERT BUTTON -->
         <td><button type="button" style="color:white;" class="btn btn-secondary" data-toggle="modal" data-target="#insert_item_modal">INSERT</button></td>       </tr>
       <tr>
         <td><h4>Monsters:</h4></td>

         <!--SELECT BUTTON -->
         <form action="/game/{{ game_id }}/select/Monster" method="GET">
          <td><button type="submit" class="btn btn-secondary" id="monster_Select_btn">SELECT</button></td>
         </form>

           <!-- INSERT BUTTON -->
         <td><button type="button" style="color:white;" class="btn btn-secondary" data-toggle="modal" data-target="#insert_monster_modal">INSERT</button></td>       </tr>
       <tr>
         <td><h4>Cards:</h4></td>

         <!--SELECT BUTTON -->
         <form action="/game/{{ game_id }}/select/Card" method="GET">
          <td><button type="submit" class="btn btn-secondary" id="card_Select_btn">SELECT</button></td>
         </form>

           <!-- INSERT BUTTON -->
         <td><button type="submit" class="btn btn-secondary" id="card_Insert_btn" disabled="true">INSERT</button></td>
       </tr>
    </table>
  </div>
 </div>
 </div>
</div>
</div>



<!-- UPDATE GAME Modal -->
<div id="update_game_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/update/Game" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" onload="displayID(this)">Update Game Table</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" >
          <label>Game ID</label>
          <input type="number" name="game_id" value="" id="update_game_modal_id" readonly>
        </div>
        <div class="form-group">
            <div class="table-responsive">
                <table class="table table-bordered ">
                  <tr>
                    <td>
                      <label>Haunt</label>
                      <input min="0" max="50" value="0" type="number" name="haunt_game" class="form-control"/>
                      </td>
                    <td>
                      <label>TrackValue</label>
                      <input min="0" max="12" value="0" type="number" name="track_value_game" class="form-control"/></td>
                  </tr>
                </table>
              </div>
        </div>

      </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Update</button>

      <button type="button" id="card_Update_btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- UPDATE CHARACTER Modal -->
<div id="update_character_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/update/Character" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Character Table</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" >
          <label>Character ID</label>
          <input type="number" name="game_id" value="" id="update_character_modal_id" readonly>
        </div>
        <div class="form-group">
            <label>Tile Name</label>
            <select name='tile_name_character' class="form-control" id="exampleFormControlSelect1">
                {% for tile in tiles %}
                  <option value="{{ tile }}">{{ tile }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="form-group">
            <div class="table-responsive">
                <table class="table table-bordered ">
                  <tr>
                    <th colspan="2">Traits</th>
                  </tr>
                  <tr>
                    <td>
                      <label>Speed</label>
                      <input min="0" max="8" value="3" type="number" name="speed_character" class="form-control"/>
                      </td>
                    <td>
                      <label>Might</label>
                      <input min="0" max="8" value="3" type="number" name="might_character" class="form-control"/></td>
                  </tr>
                  <tr>
                    <td>
                      <label>Sanity</label>
                      <input min="0" max="8" value="3" type="number" name="sanity_character" class="form-control"/>
                      </td>
                    <td colspan="1">
                      <label>Knowledge</label>
                      <input min="0" max="8" value="3" type="number"name="knowledge_character" class="form-control"/></td>
                  </tr>
                </table>
              </div>
        </div>
      </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Update</button>

      <button type="button" id="card_Update_btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </form>
  </div>
</div>
</div>



<!-- UPDATE Tile Modal -->
<div id="update_tile_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/update/Tile" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Tile Table</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" >
          <label>Tile ID</label>
          <input type="number" name="game_id" value="" id="update_tile_modal_id" readonly>
        </div>

        <div class="form-group">
          <label>Floor</label>
          <select name="floor_tile" class="form-control">
            <option value="Basement">Basement</option>
            <option value="Ground">Ground</option>
            <option value="Upper">Upper</option>

          </select>
      </div>

      <div class="form-group">
        <label>State</label>
        <select name="state_tile" class="form-control">
          <option value="Played">Played</option>
          <option value="NotPlayed">Not Played</option>
        </select>
    </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Update</button>

      <button type="button" id="card_Update_btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  </div>
</div>
</div>


<!-- UPDATE Items Modal -->
<div id="update_item_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/update/Item" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Item Table</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" >
          <label>Item ID</label>
          <input type="number" name="game_id" value="" id="update_item_modal_id" readonly>
        </div>
        <div class="form-group">
          <label>Tile Name</label>
          <select name="tile__name_item" class="form-control">
            {% for tile in tiles %}
              <option value="{{ tile }}">{{ tile }}</option>
            {% endfor %}
          </select>
      </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Update</button>

      <button type="button" id="card_Update_btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  </div>
</div>
</div>


<!-- UPDATE Monster Modal -->
<div id="update_monster_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/update/Monster" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Monster Table</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" >
          <label>Monster ID</label>
          <input type="number" name="game_id" value="" id="update_monster_modal_id" readonly>
        </div>
        <div class="form-group">
          <label>Tile Name</label>
          <select name="tile__name_monster" class="form-control">
            {% for tile in tiles %}
              <option value="{{ tile }}">{{ tile }}</option>
            {% endfor %}
          </select>
      </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Update</button>

      <button type="button" id="card_Update_btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  </div>
</div>
</div>


<!-- UPDATE card Modal -->
<div id="update_card_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/update/Card" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Card Table</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" >
          <label>Card ID</label>
          <input type="number" name="game_id" value="" id="update_card_modal_id" readonly>
        </div>
        <div class="form-group">
          <label>State</label>
          <select name="state_card" class="form-control">
            <option value="Played">Played</option>
            <option value="NotPlayed">Not Played</option>
          </select>
      </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Update</button>

      <button type="button" id="card_Update_btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  </div>
</div>
</div>



















<!-- PLAYER Modal -->
<div id="insert_player_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/insert/Player" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Insert into Player table</h4>
      </div>

        <div class="modal-body">

          <div class="form-group">
            <label>Player Name</label>
            <input type="text" class="form-control" name="player_name_player" id="setterTextbox"/>
            <small>*This is required</small>
          </div>

        </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Insert</button>

      <button type="button" id="card_Update_btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  </div>
</div>

<!-- CHARACTER Modal -->
<div id="insert_character_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/insert/Character" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Insert into Character table</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>

        <div class="modal-body">
          <div class="form-row">
            <div class="col">
              <label>Player Name</label>
              <select name="player_name_character" class="form-control">
                {% if players %}
                  {% for player in players %}
                  <option value="{{ player }}">{{ player }}</option>
                  {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="col">
              <label>Character Name</label>
              <select name="character_name_character" class="form-control" placeholder="Last name">
                  {% for character in characters %}
                  <option value="{{ character }}">{{ character }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <br/>
          <div class="form-group">
              <label>Tile Name</label>
              <select name='tile_name_character' class="form-control" id="exampleFormControlSelect1">
                  {% for tile in tiles %}
                    <option value="{{ tile }}">{{ tile }}</option>
                  {% endfor %}
                </select>
          </div>
          <div class="form-group">
              <div class="table-responsive">
                  <table class="table table-bordered ">
                    <tr>
                      <th colspan="2">Traits</th>
                    </tr>
                    <tr>
                      <td>
                        <label>Speed</label>
                        <input min="0" max="8" value="3" type="number" name="speed_character" class="form-control"/>
                        </td>
                      <td>
                        <label>Might</label>
                        <input min="0" max="8" value="3" type="number" name="might_character" class="form-control"/></td>
                    </tr>
                    <tr>
                      <td>
                        <label>Sanity</label>
                        <input min="0" max="8" value="3" type="number" name="sanity_character" class="form-control"/>
                        </td>
                      <td colspan="1">
                        <label>Knowledge</label>
                        <input min="0" max="8" value="3" type="number"name="knowledge_character" class="form-control"/></td>
                    </tr>
                  </table>

                </div>
          </div>


        </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Insert</button>

      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>

  </div>
</div>

<!-- ITEM Modal -->
<div id="insert_item_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/insert/Item" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Insert into Item table</h4>
      </div>

        <div class="modal-body"> <!--Column(s): ItemName, TileName <br>-->
          <div class="form-group">
            <label>Item Name</label>
            <select name="item_name_item" class="form-control">
                {% for item in items %}
                  <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
              <label>Tile</label>
              <select name="tile_name_item" class="form-control">
                  {% for tile in tiles %}
                    <option value="{{ tile }}">{{ tile }}</option>
                  {% endfor %}
              </select>
            </div>
        </div>

        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Insert</button>

      <button type="button" class="btn btn-btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  </div>
</div>

<!-- MONSTER Modal -->
<div id="insert_monster_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/insert/Monster" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Insert into Monster table</h4>
      </div>

        <div class="modal-body"> <!--Column(s): MonsterName, TileName <br>-->
          <div class="form-group">
            <label>Monster Name</label>
            <select name="monster_name_monster" class="form-control">
                {% for monster in monsters %}
                  <option value="{{ monster }}">{{ monster }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
              <label>Tile</label>
              <select name="tile_name_monster" class="form-control">
                  {% for tile in tiles %}
                    <option value="{{ tile }}">{{ tile }}</option>
                  {% endfor %}
              </select>
            </div>
        </div>

        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Insert</button>

      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>

  </div>
</div>
<!-- Output Textbox-->
{% if rows %}
<div class="container-fluid padding">
<div class="row text-center">
 <div class="col-md-12">

   <h3>OUTPUT</h3>
   <table class="table table-striped">
      <thead class="thead-dark">
          <tr>
            {% for name in column_names %}
              <th scope="col">{{ name }}</th>
            {% endfor %}
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for entry in rows %}
              <tr>
                {% for col in entry %}
                  <td>{{ col }}</td>
                {% endfor %}
                {%if table_name == 'Player' %}
                  <td><button data-toggle="modal"  class="btn btn-primary" disabled="true">UPDATE</button></td>
                {%elif table_name == 'Game'%}
                  <td><button data-toggle="modal" data-target="#update_game_modal" class="btn btn-primary" data-val="{{entry.0}}" onclick="saveGameID(this)">UPDATE</button></td>
                {%elif table_name == 'Character'%}
                  <td><button data-toggle="modal" data-target="#update_character_modal" class="btn btn-primary"data-val="{{entry.0}}" onclick="saveCharacterID(this)">UPDATE</button></td>
                {%elif table_name == 'Tile'%}
                  <td><button data-toggle="modal" data-target="#update_tile_modal" class="btn btn-primary"data-val="{{entry.0}}" onclick="saveTileID(this)">UPDATE</button></td>
                {%elif table_name == 'Item'%}
                    <td><button data-toggle="modal" data-target="#update_item_modal" class="btn btn-primary"data-val="{{entry.0}}" onclick="saveItemID(this)">UPDATE</button></td>
                {%elif table_name == 'Monster'%}
                    <td><button data-toggle="modal" data-target="#update_monster_modal" class="btn btn-primary"data-val="{{entry.0}}" onclick="saveMonsterID(this)">UPDATE</button></td>
                {%elif table_name == 'Card'%}
                    <td><button data-toggle="modal" data-target="#update_card_modal" class="btn btn-primary"data-val="{{entry.0}}" onclick="saveCardID(this)">UPDATE</button></td>
                {% endif %}
              </tr>
            {% endfor %}
        </tbody>

   </table>
  </div>
</div>
</div>
{% else %}
{% endif %}







    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
      function saveGameID(row) {
        Rowid = row.getAttribute("data-val");
        document.getElementById("update_game_modal_id").value = Rowid;
      }
      function saveCharacterID(row) {
        Rowid = row.getAttribute("data-val");
        document.getElementById("update_character_modal_id").value = Rowid;
      }
      function saveTileID(row) {
        Rowid = row.getAttribute("data-val");
        document.getElementById("update_tile_modal_id").value = Rowid;
      }
      function saveItemID(row) {
        Rowid = row.getAttribute("data-val");
        document.getElementById("update_item_modal_id").value = Rowid;
      }
      function saveMonsterID(row) {
        Rowid = row.getAttribute("data-val");
        document.getElementById("update_monster_modal_id").value = Rowid;
      }
      function saveCardID(row) {
        Rowid = row.getAttribute("data-val");
        document.getElementById("update_card_modal_id").value = Rowid;
      }


    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
