
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/game.css"></link>

    <title>Game</title>
  </head>

  <body>


<!-- Table Form -->
<div class="container-fluid padding">
<div class="row text-center">
 <div class="col-md-12">
    <h1 class="display-4 inline">Session ID = X --
     <a href="index.html"><button type="button" class="btn btn-secondary" id="returntosplash_btn">CHANGE ID</button></a>
   </h1>
   <hr class="dark" id="hrseperate">
   <div id="paddingfix">
   <form class="form-horizontal text-right" id="gameForm">
     <table id="gameTable">
       <tr>
         <td><h4>Players:</h4></td>
         <td><button type="button" class="btn btn-secondary" id="player_Select_btn">SELECT</button></td>
         <td><button type="button" class="btn btn-secondary" id="player_Insert_btn">INSERT</button></td>
         <td><button type="button" class="btn btn-secondary" id="player_Update_btn">UPDATE</button></td>
       </tr>
       <tr>
         <td><h4>Characters:</h4></td>
         <td><button type="button" class="btn btn-secondary" id="character_Select_btn">SELECT</button></td>
         <td><button type="button" class="btn btn-secondary" id="character_Insert_btn">INSERT</button></td>
         <td><button type="button" class="btn btn-secondary" id="character_Update_btn">UPDATE</button></td>
       </tr>
       <tr>
         <td><h4>Tiles:</h4></td>
         <td><button type="button" class="btn btn-secondary" id="tile_Select_btn">SELECT</button></td>
         <td><button type="button" class="btn btn-secondary" id="tile_Insert_btn" disabled="true">INSERT</button></td>
         <td><button type="button" class="btn btn-secondary" id="tile_Update_btn">UPDATE</button></td>
       </tr>
       <tr>
         <td><h4>Objects:</h4></td>
         <td><button type="button" class="btn btn-secondary" id="object_Select_btn">SELECT</button></td>
         <td><button type="button" class="btn btn-secondary" id="object_Insert_btn">INSERT</button></td>
         <td><button type="button" class="btn btn-secondary" id="object_Update_btn">UPDATE</button></td>
       </tr>
       <tr>
         <td><h4>Monsters:</h4></td>
         <td><button type="button" class="btn btn-secondary" id="monster_Select_btn">SELECT</button></td>
         <td><button type="button" class="btn btn-secondary" id="monster_Insert_btn">INSERT</button></td>
         <td><button type="button" class="btn btn-secondary" id="monster_Update_btn">UPDATE</button></td>
       </tr>
       <tr>
         <td><h4>Cards:</h4></td>
         <td><button type="button" class="btn btn-secondary" id="card_Select_btn">SELECT</button></td>
         <td><button type="button" class="btn btn-secondary" id="card_Insert_btn" disabled="true">INSERT</button></td>
         <td><button type="button" class="btn btn-secondary" id="card_Update_btn">UPDATE</button></td>
       </tr>
    </table>
   </form>
 </div>
 </div>
</div>
</div>







    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
