
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">

    <title>Game</title>
  </head>

  <body>


<!-- Table Form -->
<div class="container-fluid padding">
<div class="row text-center">
 <div class="col-md-12">
    <h1 class="display-4 inline">Game ID = {{game_id}} --
      <form action="/" method="GET">
        <button type="submit" class="btn btn-secondary" id="returntosplash_btn">CHANGE ID</button>
      </form>
   </h1>
   <hr class="dark" id="hrseperate">
   <div id="paddingfix">
   <div id="gameForm">
     <table id="gameTable">
       <tr>
         <td><h4>Players:</h4></td>

         <!--SELECT BUTTON -->
          <form action="/game/{{ game_id }}/select/Player" method="GET">
           <td><button type="submit" class="btn btn-secondary" id="player_Select_btn">SELECT</button></td>
          </form>

          <!-- INSERT BUTTON -->

          <td><button type="button" style="color:white;" class="btn btn-secondary" data-toggle="modal" data-target="#insert_player_modal">INSERT</button></td>


       </tr>
       <tr>
         <td><h4>Characters:</h4></td>

          <!--SELECT BUTTON -->
         <form action="/game/{{ game_id }}/select/Character" method="GET">
          <td><button type="submit" class="btn btn-secondary" id="character_Select_btn">SELECT</button></td>
         </form>

  <td><button type="button" style="color:white;" class="btn btn-secondary" data-toggle="modal" data-target="#insert_character_modal">INSERT</button></td>
       </tr>
       <tr>
         <td><h4>Tiles:</h4></td>

          <!--SELECT BUTTON -->
         <form action="/game/{{ game_id }}/select/Tile" method="GET">
          <td><button type="submit" class="btn btn-secondary" id="tile_Select_btn">SELECT</button></td>
         </form>

           <!-- INSERT BUTTON -->
         <td><button type="submit" class="btn btn-secondary" id="tile_Insert_btn" disabled="true">INSERT</button></td>

       </tr>
       <tr>
         <td><h4>Items:</h4></td>

         <!--SELECT BUTTON -->
         <form action="/game/{{ game_id }}/select/Item" method="GET">
          <td><button type="submit" class="btn btn-secondary" id="item_Select_btn">SELECT</button></td>
         </form>

           <!-- INSERT BUTTON -->
         <td><button type="button" style="color:white;" class="btn btn-secondary" data-toggle="modal" data-target="#insert_item_modal">INSERT</button></td>       </tr>
       <tr>
         <td><h4>Monsters:</h4></td>

         <!--SELECT BUTTON -->
         <form action="/game/{{ game_id }}/select/Monster" method="GET">
          <td><button type="submit" class="btn btn-secondary" id="monster_Select_btn">SELECT</button></td>
         </form>

           <!-- INSERT BUTTON -->
         <td><button type="button" style="color:white;" class="btn btn-secondary" data-toggle="modal" data-target="#insert_monster_modal">INSERT</button></td>       </tr>
       <tr>
         <td><h4>Cards:</h4></td>

         <!--SELECT BUTTON -->
         <form action="/game/{{ game_id }}/select/Card" method="GET">
          <td><button type="submit" class="btn btn-secondary" id="card_Select_btn">SELECT</button></td>
         </form>

           <!-- INSERT BUTTON -->
         <td><button type="submit" class="btn btn-secondary" id="card_Insert_btn" disabled="true">INSERT</button></td>
       </tr>
    </table>
  </div>
 </div>
 </div>
</div>
</div>



<!-- UPDATE Modal -->
<div id="update_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/insert/Player" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Insert into Player table</h4>
      </div>
      <div class="modal-body">
        

      </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-secondary">Insert</button>

      <button type="button" id="card_Update_btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  </div>
</div>

<!-- PLAYER Modal -->
<div id="insert_player_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/insert/Player" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Insert into Player table</h4>
      </div>

        <div class="modal-body">
          
          <div class="form-group">
            <label>Player Name</label>
            <input type="text" class="form-control" name="setterTextbox" id="setterTextbox"/>
            <small>*This is required</small>
          </div>
       
        </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-primary">Insert</button>

      <button type="button" id="card_Update_btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  </div>
</div>

<!-- CHARACTER Modal -->
<div id="insert_character_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/insert/Character" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Insert into Character table</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>

        <div class="modal-body">
          <div class="form-row">
            <div class="col">
              <label>Player Name</label>
              <select name="player_name" class="form-control">
                {% if players %}
                  {% for player in players %}
                  <option value="{{ player }}">{{ player }}</option>
                  {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="col">
              <label>Character Name</label>
              <select name="character_name" class="form-control" placeholder="Last name">
                  {% for character in characters %}
                  <option value="{{ character }}">{{ character }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <br/>
          <div class="form-group">
              <labe>Tile Name</labe>
              <select class="form-control" id="exampleFormControlSelect1">
                  {% for tile in tiles %}
                    <option value="{{ tile }}">{{ tile }}</option>
                  {% endfor %}
                </select>
          </div>
          <div class="form-group">
              <div class="table-responsive">
                  <table class="table table-bordered ">
                    <tr>
                      <th colspan="2">STATS</th>
                    </tr>
                    <tr>
                      <td>
                        <label>Speed</label>
                        <input min="0" max="8" value="3" type="number" name="speed" class="form-control"/>
                        </td>
                      <td>
                        <label>Might</label>
                        <input min="0" max="8" value="3" type="number" name="might" class="form-control"/></td>
                    </tr>
                    <tr>
                      <td>
                        <label>Sanity</label>
                        <input min="0" max="8" value="3" type="number" name="sanity" class="form-control"/>
                        </td>
                      <td colspan="1"> 
                        <label>Knowledge</label>
                        <input min="0" max="8" value="3" type="number"name="knowledge" class="form-control"/></td>
                    </tr>
                  </table>
            
                </div>
          </div>
     
        
        </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-success">Insert</button>
     
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>

  </div>
</div>

<!-- ITEM Modal -->
<div id="insert_item_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/insert/Item" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Insert into Item table</h4>
      </div>

        <div class="modal-body">
          Column(s): ItemName, TileName <br>

          <br>
          <br>
          Enter the required info. Seperate values with commas.
     
        <textarea class="form-control" rows="1" name="setterTextbox" id="setterTextbox" placeholder="example, example, example"></textarea>
        </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-secondary">Insert</button>
      
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
  </div>
</div>

<!-- MONSTER Modal -->
<div id="insert_monster_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="/game/{{ game_id }}/insert/Monster" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Insert into Monster table</h4>
      </div>

        <div class="modal-body">
          Column(s): MonsterName, TileName  <br>

          <br>
          <br>
          Enter the required info. Seperate values with commas.
      
        <textarea class="form-control" rows="1" name="setterTextbox" id="setterTextbox" placeholder="example, example, example"></textarea>
        </div>
        <div class="modal-footer">
         <button type="submit" style="color:white;" class="btn btn-secondary">Insert</button>
     
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>

  </div>
</div>
<!-- Output Textbox-->
{% if rows %}
<div class="container-fluid padding">
<div class="row text-center">
 <div class="col-md-12">

   <h3>OUTPUT</h3>
   <table class="table table-striped">
      <thead class="thead-dark">
          <tr>
            {% for name in column_names %}
              <th scope="col">{{ name }}</th>
            {% endfor %}
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for entry in rows %}
              <tr>
                {% for col in entry %}
                  <td>{{ col }}</td>
                {% endfor %}

                <td><button data-toggle="modal" data-target="#update_modal" class="btn btn-primary">UPDATE</button></td>
              </tr>
            {% endfor %}
        </tbody>

   </table>
  </div>
</div>
</div>
{% else %}
{% endif %}







    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
