
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/game.css"></link>

    <title>Home</title>
  </head>

  <body>

<!--Form-->
<div class="container-fluid padding">
<div class="row text-center">
  <div class="col-md-12">
    <h1 class="display-4">Game Selection</h1>
    <hr class="dark">
    <div class="form-horizontal text-center" id="gameIDForm">
      <div class="form-group">
        <form action="/join" method="POST">
          <div id="textboxpadding">
            <input type="text" name="gameIDtextbox" class="form-control" id="gameIDtextbox" placeholder="GameID">
          </div>
          <button type="submit" class="btn btn-secondary" id="gameID_Select_btn">SELECT</button></a>
        </form>
        <form action="/join" method="GET">
          <button type="submit" class="btn btn-secondary" id="gameID_New_btn">NEW</button></a>
        </form>
      </div>
    </div>
  </div>
</div>
</div>













    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
